{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
<section style="background:#f7efeb;">

<div class="container">
  
   <div class="card-wrapper">
        {% for team in teams %}
   

   {% include 'team/_team.html.twig' %}


    {% endfor %}

</div>
</div>
    </section>
{% endblock %}
