{% extends 'base.html.twig' %}
{% block title %}Modification du profil utilisateur{% endblock %}
      {% form_theme myForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
<br>
<br>
<br>
    <div class="container">
        <h1>Modification du profil</h1>
        {{form_start(myForm)}}
            {{form_widget(myForm)}}
                <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
        {{form_end(myForm)}}
        <br>

        <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
    </div>
{% endblock %}