 {% extends 'base.html.twig' %}


 {% block title %}Hello PiloteController!{% endblock %}

{% block body %}
<div class="slide_gp">
<span class='spangp'>SAISON 2016</span>
<img src="{{ asset('images/2016.jpg') }}" alt="">
</div>
<br>
<br>
<br>

<div class="container">
<div class="resume">
<h3>Résumé de la saison</h3>
<p>Le championnat du monde de Formule 1 2016, 67e édition du championnat du monde de Formule 1, débute le 20 mars 2016 à Melbourne en Australie, s'achève le 27 novembre 2016 à Abou Dabi aux Émirats arabes unis et comporte vingt-et-un Grands Prix (deux de plus qu'en 2015). Il marque notamment les débuts de l'écurie américaine, Haas F1 Team et le retour de Renault en tant que constructeur, après le rachat de Lotus. Le Grand Prix d'Europe, absent depuis 2012, fait son retour au calendrier le 19 juin 2016 sur le circuit urbain de Bakou (Azerbaïdjan), tout comme le Grand Prix d'Allemagne qui n'avait pas été couru en 2015. À deux semaines du premier Grand Prix à Melbourne, un nouveau format « éliminatoire » pour les qualifications est adopté, puis abandonné au bout de deux Grand Prix en faveur d'un retour à la formule utilisée jusqu'en 2015. Le calendrier 2016 est le plus chargé du championnat du monde de Formule 1 depuis sa création en 1950 avec vingt-et-une courses au programme.

Dès le Grand Prix du Japon, dix-septième des vingt-et-une manches disputée le 9 octobre, Mercedes Grand Prix remporte son troisième titre mondial des constructeurs consécutif, alors que Nico Rosberg et Lewis Hamilton restent seuls en lice pour l'obtention de la couronne des pilotes. Le pilote Allemand remporte finalement à Abou Dabi, le 27 novembre son premier titre de champion du monde avec cinq points d'avance sur son coéquipier. Il est sacré trente-quatre ans après son père Keke. Vainqueur des quatre premières courses de la saison, puis d'une autre série de trois victoires au cœur de l'été, s'imposant également à Bakou, et pour finir à Suzuka, Nico Rosberg est sacré en se montrant plus régulier que le triple champion du monde britannique, un tournant important ayant lieu le 2 octobre lors du Grand Prix de Malaisie, où Hamilton, qui caracole en tête, est victime d'une casse moteur et voit s'envoler les vingt-cinq points de la victoire. Ce dernier remporte les quatre dernières courses de la saison, et Rosberg assure le titre en terminant les quatre fois derrière lui à la deuxième place.

Avec neuf victoires pour Rosberg et dix pour Hamilton, Mercedes fait encore mieux que les deux saisons précédentes, étendant son règne à l'ère des moteurs V6 turbo hybrides avec cette année, un record absolu de dix-neuf victoires (n'en ayant laissé échapper que deux, gagnées par les pilotes Red Bull Racing, Max Verstappen en Espagne et Daniel Ricciardo en Malaisie), un autre de vingt pole positions (seul Ricciardo parvenant à partir en tête, à Monaco), trente-trois podiums et huit doublés. La saison 2016 est aussi celle de la révélation pour Max Verstappen qui est transféré en cours de saison de Toro Rosso à Red Bull, remporte sa première course à 18 ans dans sa nouvelle écurie, en Espagne pour devenir le plus jeune vainqueur de l'histoire de la Formule 1, et réalise sous la pluie au Brésil la plus belle remontée de la saison. La Scuderia Ferrari termine l'année sans aucune victoire, tandis que Jenson Button achève sa longue carrière. Cinq jours après l'obtention de son premier titre, Nico Rosberg crée la surprise en annonçant son retrait de la Formule 1.</p>
</div>
 <div class="card-wrapper">
        {% for grandprix in grandprix | filter((grandprix) => grandprix.date == 2016)%}
   

   {% include 'grand_prix/_grandprix.html.twig' %}


    {% endfor %}

    </div>
    </div>
</div>
{% endblock %}
