 {% extends 'base.html.twig' %}


 {% block title %}Hello PiloteController!{% endblock %}

{% block body %}
<div class="slide_gp">
<span class='spangp'>SAISON 2018</span>
<img src="{{ asset('images/2018.jpg') }}" alt="">
</div>
<br>
<br>

<div class="container-fluid" style='padding:100px; padding-left:150px; @media all and (max-width:700px){padding:0;}'>
<div class="resume">
<h3>Résumé de la saison</h3>
<p>Avec son nouveau coéquipier Valtteri Bottas, qui obtient les trois premières victoires de sa carrière, dont la dernière à Abou Dabi, Lewis Hamilton connait avec Mercedes une première partie de championnat moins dominatrice que les trois saisons précédentes. En effet, jusqu'à la trève estivale, la Scuderia Ferrari et son pilote quadruple champion du monde Sebastian Vettel leur tiennent la dragée haute : le pilote allemand obtient quatre victoires et ne quitte pas le podium pour compter 14 points d'avance en tête du championnat à l'arrivée du Grand Prix de Hongrie. Mais dès la reprise, à Spa, Hamilton s'envole avec trois victoires consécutives qui lui permettent de prendre la première place du classement pilotes. Par la suite, soit pour des problèmes d'ordre mécanique (une bougie défectueuse provoque son abandon à Suzuka) soit en raison de ses propres erreurs (au départ à Singapour), Vettel perd pied. Lewis Hamilton obtient sa neuvième victoire de l'année à Austin le 22 octobre et n'a plus qu'à prendre deux points à l'arrivée du Grand Prix du Mexique une semaine plus tard pour obtenir son quatrième titre de champion du monde. Outre Hamilton et Vettel (cinq victoires), les autres succès de la saison sont l'œuvre de Valtteri Botas (trois victoires) et des pilotes Red Bull, Daniel Ricciardo (à Bakou) et Max Verstappen (à Sepang et à Mexico). Kimi Räikkönen (sept podium) parvient finalement à devancer Ricciardo lors de la dernière course de la saison pour prendre la quatrième place du championnat mené par Hamilton, Vettel et Bottas.</p>
</div>
</div>

<div class="container">
 <div class="card-wrapper">
        {% for grandprix in grandprix | filter((grandprix) => grandprix.date == 2018)%}
   

   {% include 'grand_prix/_grandprix.html.twig' %}


    {% endfor %}

    </div>
    </div>
</div>
{% endblock %}