{% extends 'base.html.twig' %}

{% block title %}Hello PiloteController!{% endblock %}

{% block body %}
<section style="background:#f7efeb;">

<div class="container">
  
   <div class="card-wrapper">
        {% for pilote in pilotes %}
   

   {% include 'pilote/_pilote.html.twig' %}


    {% endfor %}

</div>
</div>
    </section>
{% endblock %}
