@font-face {
    font-family:"perfect";
    src:url("/build/fonts/321Perfect.ttf") format("truetype");    
   }
   @font-face {
    font-family:"f1";
    src:url("/build/fonts/Formula1-Bold.otf") format("otf");    
   }


   :root {
    font-size: 16px;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  section {
    background:#f7efeb;
  }
  body {
    overflow-X:hidden;
    color: black;
    background-color:#f7efeb;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.75rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #e10600;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    overflow: hidden;
    z-index:300;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
     margin-left:-20px;
  }
  
  .nav-item {
    width: 100%;
    font-family:"f1";
    
  }
  .gpindex {

    items-align:center;
  }
  

  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
   
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
    
  .nav-link:hover svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
 
  
 
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left:0px;
    
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
   .logo svg {
 
    margin-left:-10px;
    transition: var(--transition-speed);
  }

  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    font-family: 'formularegu';
    transition: var(--transition-speed);
  }

  .dropdown-menu {
    background-color:var(--bg-primary);
    transition: var(--transition-speed);

  }
  .dropdown-menu a:hover {
    background-color:var(--bg-secondary);
    transition: var(--transition-speed);
  }
 
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
    .mapcontent{
    border-bottom:2px solid black;     
    border-top:none;     
  } 
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
   
  
    main {
      margin: 0;
    }
      .dropdown {
display:none;

  }
  .dropdown-menu a:hover {

  }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
    .gp {
  display:none;

  }
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
     .mapcontent{
    border-right:2px solid black;     
  } 
  }
 

        /** PILOTE INDEX **/

   a .pilote {
      text-decoration:none;
      color:#fff;
  }
  section {
      padding: 5rem 0;
      background-color:#fff;

  }
  .heading{
      text-transform: uppercase;
      font-size:3.5rem;
      letter-spacing:3px;
      margin-right:-3px;
      margin-bottom:5rem;
      text-align:center;
      color:#333;
      position:relative;

  }

  .heading::after {
      content:'';
      width:10rem;
      height:.8rem;
      background-color:#45e19f;
      position:absolute;
      bottom:-2rem;
      left:50%;
      transform:translateX(-50%);
      border-radius:2rem;
  }
  .card-wrapper {
    display:flex;
    align-items:center;
    align-content:center;
    flex-direction:column;
  }
 
  .card {
      width:21rem;
      height:25rem;
      opacity:0;
      animation-name:fadeIn;
      animation-duration:1s;
      animation-fill-mode:forwards;
      background-color:#ebeef8;
      display:flex;
      align-items:center;
      justify-content:center;
      margin: 2rem 0;
      box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);

  }
  @keyframes fadeIn{
0% {
  opacity:0;
}
100% {
  opacity:1;
}
  }
  .card .card-img {
      width:100%;
      height:13rem;
      object-fit:cover;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 66%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 66%, 0 100%);
  }
  .profile-img {
      height:10rem;
      width:10rem;
      object-fit:cover;
      border-radius:50%;
      margin-top:-5.5rem;
      z-index:999;
      border: 0.5rem solid #ebeef8;


  }
  .card h1 {
      font-size:1.25rem;
      color:#333;
      margin:0.75rem 0;

  }
  .job-title {
      color:#777;
      font-size:1rem;
      font-weight:300;

  }

  .card .btn {
padding: 0.5rem 1.25rem;
background-color:#23232e;
border-radius:2rem;
margin: 0.25rem 0;
transition:0.5s;
margin-bottom:0.5rem;
 text-transform:uppercase;
 color:#eee;
 font-size:0.7rem;
   }

  .card .btn:hover {
      background-color:#141418;
      transform: translateY(-1px);
      box-shadow: .25rem .25rem 1rem rgba(0,0,0,0.2);
  }
   .card .btn:active {
      transform: translateY(0);
      box-shadow:none;
  }
  
  @media all and (min-width:700px) {
    .card-wrapper {
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content:center;
      align-items:center;
    }
    .card {
      margin:1rem;
    }
 
  }
  .slide_gp {
    width:100%;
    height:35rem;
    box-shadow: .5rem .5rem 2rem rgba(0,0,0,0.2);
  }
  .slide_gp img {
    object-fit:cover;
   
    width:100%;
    
    height:35rem;
  }
  .spangp {
    position:absolute;
    left:50%;
    top:30%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:5rem;
    text-shadow: .5rem .5rem 0.5rem rgba(0,0,0,1);

  }
   .map {
    object-fit:cover;
   
    width:100%;
    position:relative;
    height:100%;
  }
  /**  TABLEAUX **/

  td a {
    text-decoration:none;
    color:#23232e;
    transition:0.5s;
  }
  td a:hover {
    color:#141418;
text-transform: translateY(-5px);   

  }
  .picture {
    width:35rem;
    height:20rem;
  }
  .pictureteam {
    width:12rem;
    height:12rem;
    margin: 2rem;
  }
.resume{
 letter-spacing: 1px;
 text-align:justify;
}
.resume h3 {
  padding-bottom:20px;
  text-align:center;
}

.homepage {
  width:100%;
  height:80vh;

}

.homepage .container h1 {
  text-align:center;
  font-family: "perfect";
  position:relative;
  font-size:65px;
  top:30%;
}
.homepage video {
  width:100%;
  height:80vh;
  object-fit:cover;
}
.lewis img{
width:70rem;
height:50rem;
transform:translate(-50%,-50%);
left:75%;
top:60%;
position:absolute;
}
.lewis {
  
}
.fangio img{
width:32rem;
height:20rem;
transform:translate(-50%,-50%);
left:30%;
top:60%;
position:absolute;
}
/** TIMELINE **/

 
.timelineh1 {
	 	  
	color:#333;
	font-weight:700;
	margin-top:125px;	 
	text-align:center;
	text-transform:uppercase;
	letter-spacing:4px;
	line-height:23px;
}

/* --- Start progress bar --- */

.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;



	transition:all ease 0.3s;
     
}



#progress-bar-container li {
	list-style:none;
	float:left;
	width:24.7%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:transparent;
	margin:auto;
	border:solid 7px transparent;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px transparent;
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:transparent;
}

#progress-bar-container li.active:after {
	background:transparent;
}

#progress-bar-container #line {
	width:77%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right,#07579b 0%, black 33%, black 50%  ,#e10600 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #23232e;
	border-radius: 10px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#e3d8d2;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#e3d8d2;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}
.imgtimeline{
	width:10rem;
	height:2rem;
}
.imgtimeline2{
	width:5rem;
	height:5rem;
}
.imgtimeline3{
	width:7rem;
	height:4rem;
}
.table .pilote th{
 border-color:black;
}.table .pilote td{
  border-color:black;
}
